@import "styles/lib/_base"

.box-slider
	width: 730px
	height: 437px
	background-color: #fff
	overflow: hidden
	$parent: &
	+box
	&__item
		position: relative
		display: inline-block
		height: 100%
		width: 100%
		padding: 44px 65px
		white-space: normal
		vertical-align: top
		font-size: 22px
		+box
		&._1
			background-color: #fff
			color: #000
			#{$parent}
				&__title
					font-size: 50px
		&._2, &._3, &._4, &._5, &._6, &._7, &._8
			background-color: #a49b92
			color: #fff
		&._2
			background-color: #a49b92
			color: #fff
			#{$parent}
				&__text
					color: #d6d0c8
		&._3
			background-color: $color-orange
		&._4
			background-color: #ca242c
		&._5
			background-color: #747474
		&._6
			background-color: #a49b92
			#{$parent}
				&__text, &__number
					color: #fff6ef
		&._7
			background-color: $color-orange
		&._8
			background-color: #ca242c
	&__number
		position: absolute
		right: 37px
		top: 22px
		font-size: 16px
	&__content
		position: absolute
		width: 100%
		bottom: 120px
		left: 0
		padding-left: 65px
		padding-right: 65px
		+box
	&__title
		font-family: 'PFRegalTextPro'
		font-size: 32px
		margin-bottom: 20px
	&__text
		font-size: 16px
	&__list
		white-space: nowrap
		font-size: 0
		height: 100%
		will-change: transform
	&__button
		position: absolute
		left: 64px
		bottom: 41px
	&__pager
		position: absolute
		bottom: 41px
		right: 37px
