@import "styles/lib/_base"

.main-slider
	position: absolute
	top: 0
	right: 0
	bottom: 0
	left: 0
	background-color: $color-pale
	&__head
		position: absolute
		top: 35px
		right: 20px
		z-index: 1
	&__box-slider
		// empty
	&__social-links
		position: absolute
		right: 15px
		bottom: 45px
	+max-screen($breakpoint-md)
		&__head
			background-color: $color-pale
			width: 100%
			right: 0
			+box

.main-slider-item
	position: absolute
	top: 0
	right: 0
	bottom: 0
	left: 0
	&._1
		background-color: darkslateblue
	&._2
		background-color: salmon
	&._3
		background-color: aquamarine
	&._4
		background-color: brown
	&._5
		background-color: cornflowerblue
	&._6
		background-color: indigo
	&._7
		background-color: palegoldenrod
	&._8
		background-color: olivedrab
