@import "styles/lib/_base"

.article
	color: #3e3e3e
	+box
	&__intro
		height: 551px
		+cover
		&._1
			background-image: url('/media/img/articles/article-intro-bg1.jpg')
	&__content
		margin-top: -264px
	&__title
		font-size: 50px
		margin-bottom: 30px
		font-family: "PFRegalTextPro"
		line-height: 54px
		color: #000
	&__header
		background-color: #fff
		border-bottom: 16px solid $color-pale
		padding: 40px 90px 45px
		&-text
			font-size: 18px
			line-height: 24px
			
