@import "styles/lib/_base"

.page-slider
	position: relative
	padding-top: 99px
	background-color: #fff
	overflow: hidden
	//height: 100vh
	//position: fixed
	//top: 0
	//right: 0
	//bottom: 0
	//left: 0
	//overflow: auto
	
	//&__items
	//	position: fixed
	//	top: 0
	//	right: 0
	//	bottom: 0
	//	left: 0
	//	overflow: auto
	//&__item
		//display: none
		//&._current
		//	display: block
		//&._next
		//	display: block
		//	position: relative
		//	//position: absolute
		//	//width: 100%
		//	//transform: translateY(100%)
		//	top: -120px
		//	//z-index: 1

