@import "lib/base"
@import "fonts"
@import "reset"
@import "layout"
// @import controls
//@import "main"
//@import footer
// @import popup

.head
	@extend .clearfix
	&__text-container
		display: inline-block
		white-space: nowrap
		color: #3e3e3e
		vertical-align: top
		margin-right: 65px
		height: 55px
		&:before
			content: ""
			width: 0
			height: 100%
			display: inline-block
			vertical-align: middle
		&-inner
			display: inline-block
			vertical-align: bottom
	&__title
		font-weight: 900
	&__logos
		display: inline-block
		font-size: 0
		background-image: inline("../img/svg/logos.svg")
		width: 130px
		height: 55px
		vertical-align: top
		+cover
	&__logo
		display: inline-block
		&._r-letter
	+max-screen($breakpoint-md)
		background-color: $color-pale
		padding-left: 20px
		padding-right: 20px
		height: 63px
		+box
		&__text-container
			float: left
			font-size: 18px
		&__logos
			float: right
			
.button
	@extend .animated
	display: inline-block
	border: 3px solid $color-orange
	color: $color-orange
	text-transform: uppercase
	font-size: 14px
	height: 48px
	line-height: 42px
	font-weight: 600
	$parent: &
	+box
	&:hover
		background-color: $color-orange
		color: #fff
		#{$parent}__arrows
			fill: #fff
			transition: none
	&__caption
		padding: 0 52px
	&__arrows
		@extend .animated
		position: absolute
		width: 15px
		height: 17px
		right: 18px
		top: 50%
		margin-top: -9px
		fill: $color-orange
	&._arrows
		padding-right: 26px
	&._white
		border-color: #fff
		color: #fff
		&:hover
			color: #a39b92
			background-color: #fff
			#{$parent}
				&__arrows
					fill: #a39b92
		#{$parent}
			&__arrows
				fill: #fff
				
.header
	background-color: $color-pale
	position: fixed
	top: 36px
	left: 0
	width: 100%
	height: 63px
	z-index: 100
	&__skin
		height: 100%
	&__link
		@extend .animated
		position: relative
		display: inline-block
		text-transform: uppercase
		font-size: 14px
		color: #a39b92
		padding-left: 50px
		padding-top: 27px
		height: 100%
		+box
		&:before
			+b
			width: 36px
			height: 15px
			left: 0
			top: 27px
			background-image: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIiBwcmVzZXJ2ZUFzcGVjdFJhdGlvPSJ4TWlkWU1pZCIgd2lkdGg9IjM2IiBoZWlnaHQ9IjE1IiB2aWV3Qm94PSIwIDAgMzYgMTUiPiA8cGF0aCBkPSJNMzYuMDAwLDcuOTkxIEwxLjcxNCw3Ljk5MSBMNi4wMDAsMTIuOTkxIEw2LjAwMCwxNC45OTIgTDAuNDI4LDguNDkxIEwtMC4wMDAsOC45OTEgTC0wLjAwMCw3Ljk5MSBMLTAuMDAwLDYuOTkyIEwtMC4wMDAsNS45OTIgTDAuNDI4LDYuNDkyIEw2LjAwMCwtMC4wMDkgTDYuMDAwLDEuOTkxIEwxLjcxNCw2Ljk5MiBMMzYuMDAwLDYuOTkyIEwzNi4wMDAsNy45OTEgWiIgY2xhc3M9ImNscy0xIiBmaWxsPSIjZjU4MjFmIiBmaWxsLXJ1bGU9ImV2ZW5vZGQiLz4gPC9zdmc+Cg==')
		&:hover
			color: #000
	&__head
		position: absolute
		top: 0
		right: 15px
		.head__text-container-inner
			position: relative
			bottom: 4px
			
.text
	font-size: 16px
	line-height: 25px
	
.more-info
	&__title
		font-family: "PFRegalTextPro"
		font-size: 20px
		margin-bottom: 14px
		color: #3e3e3e
	&__button
		position: relative
		
.emphasis
	padding-left: 99px
	&__headline
		height: 32px
		line-height: 32px
		background-color: $color-orange
		color: #fff
		font-size: 14px
		text-transform: uppercase
		font-weight: 600
		padding-left: 81px
	&__content
		padding: 40px 81px 55px
		background-color: #ede9e3
	&__text
		font-size: 18px
		font-family: "PFRegalTextPro"
		color: #000
		line-height: 26px
		
.offer
	&__head
		font-size: 0
		white-space: nowrap
	&__logos
		display: inline-block
		background-image: inline("../img/svg/logos.svg")
		width: 130px
		height: 55px
		vertical-align: top
		+cover
	&__title
		display: inline-block
		height: 55px
		vertical-align: top
		background-color: #747474
		text-transform: uppercase
		color: #fff
		width: 176px
		white-space: normal
		margin-left: -1px
		font-size: 14px
		text-align: center
		padding-top: 12px
		font-weight: 700
		+box
	&__content
		padding-top: 28px
	&__text
		color: #000
		font-size: 18px
		font-weight: 700
		margin-bottom: 25px
	&__more
		color: $color-orange
		text-transform: uppercase
		font-weight: 700

.link
	@extend .animated
	position: relative
	display: inline-block
	font-weight: 800
	text-decoration: none
	color: $color-orange
	&:after
		@extend .animated
		content: ""
		position: absolute
		left: 0
		bottom: 0
		display: block
		height: 1px
		width: 100%
		background-color: #fce0c7
	&:hover
		color: #3e3e3e
		&:after
			background-color: #aba9a5
			transition: none
			
.social-links
	margin: 0 -24px
	font-size: 0
	&__item
		@extend .animated
		position: relative
		display: inline-block
		text-transform: uppercase
		color: #a39b92
		margin: 0 24px
		font-size: 14px
		&:after
			+b
			@extend %no-pe
			height: 16px
			width: 1px
			background-color: $color-orange
			right: -24px
			top: -1px
		&:last-child:after
			display: none
		&:hover
			color: #3e3e3e
			
.license
	position: absolute
	bottom: 0
	left: 0
	width: 100%
	height: 26px
	line-height: 26px
	font-size: 14px
	color: #fff
	background-color: rgba(#888, 0.8)
